<nav class="mypage-tabs">
  <a href="/mypage/activity" class="<%= activePage === 'activity' ? 'active' : '' %>">내 활동</a>
  <a href="/mypage/support" class="<%= activePage === 'support' ? 'active' : '' %>">내 문의</a>
  <a href="/mypage/account" class="<%= activePage === 'account' ? 'active' : '' %>">계정 정보</a>
</nav>
